.portfolio {
  min-height: 100vh;
  padding: 0;
  background: linear-gradient(
    120deg,
    rgb(98, 109, 135) 0%,
    rgb(173, 175, 180) 50%,
    rgb(84, 107, 129) 100%
  );
}


.portfolio .card {
  background: rgba(255,255,255,0.07);
  border-radius: 1.25rem;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  border: none;
}